.modal-body {
    padding: 0;
}

tab {
    width: 100%;
    height: 380px;
    padding: 15px;
    overflow-y: auto;
}

i.checkbox {
    font-size: 22px;
}

img.doc {
    height: 80px;
    object-fit: cover;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.07);
    }
}