.iq-header-title {
    flex: auto;
}

.filters {
    padding: 5px 0;

    input {
        height: 35px;
        border-radius: 0.25rem !important;

        &:read-only {
            background: #e9edf4 !important;
            border: 0px solid #d7dbda !important;
        }
    }
}

td img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .filters {
        display: flex;
        justify-content: center;

        div {
            &:not(:last-child) {
                padding-right: 0 !important;
            }
        }
    }
}
