<div class="row" [hidden]="!project">

  <div class="col-xl-6" *ngIf="!mapFullscreen">

    <app-iq-card [isCardHeader]="false">

      <tabset type="pills" [justified]="true">

        <tab class="animate__animated animate__fadeIn" heading="Drivers ({{ project?.drivers.length || '0' }})">

          <div class="row">

            <div class="col-md-12 mt-3">

              <div class="d-sm-flex justify-content-end">

                <input type="text" class="form-control form-control-sm col-sm-5" placeholder="Search Name" [(ngModel)]="driverFilter">

              </div>  

            </div>

            <div class="col-md-12 mt-3" *ngIf="project">

              <table class="table table-hover table-sm m-0">

                <thead class="thead-primary">

                  <tr class="text-center">

                    <th width="28px"></th>

                    <th>Name</th>

                    <th>Address</th>

                    <th width="130px">Time</th>

                  </tr>

                </thead>

              </table>

              <div class="table-responsive drivers-table-scroll-y">

                <table class="table table-hover table-sm">

                  <tbody>

                    <tr class="text-center" *ngFor="let driver of drivers | filter:'name':driverFilter; let i=index" (click)="driverInfo(driver)">

                      <td width="28px">

                        <input type="checkbox" [checked]="isDriverchecked(driver)" (input)="checkDriver(driver, $event)"
                          (click)="$event.stopPropagation()">

                      </td>

                      <td>

                        <span>{{ driver.name }}</span>

                      </td>

                      <td>

                        <span>{{ driverStartAddress(driver) }}</span>

                      </td>

                      <td width="130px">

                        <span>{{ driverStartTime(driver) }} ~ {{ driverEndTime(driver) }}</span>

                      </td>

                    </tr>

                    <tr class="text-center" *ngIf="drivers.length == 0 || (drivers | filter:'name':driverFilter).length == 0">

                      <td colspan="4">

                        <i class="ri-search-line"></i> No drivers found

                      </td>

                    </tr>

                  </tbody>

                </table>

              </div>

            </div>

          </div>

        </tab>

        <tab class="animate__animated animate__fadeIn" heading="Stops ({{ project?.stops.length || '0' }})">

          <div class="row">

            <div class="col-md-12">

              <div class="d-sm-flex justify-content-end">

                <input type="text" class="form-control form-control-sm col-sm-5 mt-3 mr-sm-2" placeholder="Search Name" [(ngModel)]="stopFilter">

                <button type="button" class="btn btn-primary btn-sm col-sm-3 mt-3 mr-sm-2" (click)="modalStop()">

                  <i class="ri-add-line"></i>
  
                  Add Stops
  
                </button>
  
                <button type="button" class="btn btn-primary btn-sm col-sm-3 mt-3" (click)="modalUploadStops()">
  
                  <i class="ri-upload-line"></i>
  
                  Upload Stops
  
                </button>

              </div>              

            </div>

            <div class="col-md-12 mt-3">

              <table class="table table-hover table-sm m-0">

                <thead class="thead-primary">

                  <tr class="text-center">

                    <th width="30%">Name</th>

                    <th width="45%">Address</th>

                    <th width="25%">Status</th>

                  </tr>

                </thead>

              </table>

              <div class="table-responsive stops-table-scroll-y">

                <table class="table table-hover table-sm">

                  <tbody>

                    <tr class="text-center" *ngFor="let stop of project?.stops | filter:'name':stopFilter" (click)="stopInfo(stop)">

                      <td width="30%">

                        <span>{{ stop.name }}</span>

                      </td>

                      <td width="45%">

                        <span>{{ stop.address }}</span>

                      </td>

                      <td width="25%">

                        <span class="badge badge-light" *ngIf="stop.status == 0">Waiting</span>

                        <span class="badge badge-primary" *ngIf="stop.status == 1">Dispatch</span>

                        <span class="badge badge-success" *ngIf="stop.status == 2">Delivered</span>

                        <span class="badge badge-danger" *ngIf="stop.status == 3">Skipped</span>

                      </td>

                    </tr>

                    <tr class="text-center" *ngIf="project?.stops.length == 0 || (project?.stops | filter:'name':stopFilter).length == 0">

                      <td colspan="3">

                        <i class="ri-search-line"></i> No stops found

                      </td>

                    </tr>

                  </tbody>

                </table>

              </div>

            </div>

          </div>

        </tab>

      </tabset>

    </app-iq-card>

  </div>

  <div [class]="!mapFullscreen ? 'col-xl-6' : 'col-xl-12'">

    <div class="map-header animate__animated animate__fadeIn"
      *ngIf="project?.stops.length > 0 && project?.drivers.length > 0">

      <button class="btn btn-light animate__animated animate__fadeIn" (click)="mapFullscreen = false"
        *ngIf="mapFullscreen">

        <i class="ri-menu-line"></i> Drivers And Stops

      </button>

      <button class="btn btn-light animate__animated animate__fadeIn" (click)="mapFullscreen = true"
        *ngIf="project?.status > 0 && !mapFullscreen">

        Continue Routing <i class="ri-arrow-right-line"></i>

      </button>

      <button class="btn btn-light animate__animated animate__fadeIn" (click)="optimize()" *ngIf="project?.status == 0">

        <i class="ri-flashlight-line"></i> Optimize Route

      </button>

      <button class="btn btn-light animate__animated animate__fadeIn" (click)="optimize()"
        *ngIf="project?.status > 0 && mapFullscreen">

        <i class="ri-flashlight-line"></i> Reoptimize Route

      </button>

    </div>

    <div class="map animate__animated animate__fadeIn" #map></div>

    <div class="map-footer animate__animated animate__fadeInUp" *ngIf="project?.status > 0 && mapFullscreen">

      <app-project-manager
        [project]="project" 
        [colors]="colors"
        (stopInfo)="stopInfo($event)"
        (driverInfo)="driverInfo($event)"
        (projectChanged)="setProject($event)">
      </app-project-manager>

    </div>

  </div>

</div>