.table-scroll-y {
    overflow-y: auto;
    max-height: calc(100vh - 288px);
}

.map {
    width: 100%;
    height: 350px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 12px 2px rgb(55 73 72 / 24%);
    background: #ffffff;
}

.map-header {
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    min-height: 59px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
    z-index: 1;

    button {
        margin: 10px 5px;
    }
}

.map-footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
}

tab {
    height: calc(100vh - 205px);
}

tab table td {
    vertical-align: middle;
    height: 45px;
}

tab table td input {
    margin-top: 7px;
}

tab table tr td span {
    &:not(.badge) {
        font-size: 0.9em;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }

    &.badge {
        font-size: 10px;
        font-weight: 500;
    }
}

@media (min-width: 992px) {
    .map {
        height: calc(100vh - 75px - 50px);
    }
}

::ng-deep
{
    .ms-3 { margin-left: 1rem !important; }

    .flex-grow-1.ms-3.text-right
    {
        line-height: 1.5;
        font-size: 1em;
    }
}
