<div class="row animate__animated animate__fadeIn" [hidden]="!drivers">

    <div class="col-sm-12">

        <app-iq-card>

            <div card-header class="iq-header-title w-100">

                <div class="d-sm-flex justify-content-end align-items-center my-3">

                    <div class="mr-auto pb-3 pb-sm-0 text-dark text-capitalize">
                        
                        <span *ngIf="drivers?.length <= 1"><b>{{ drivers?.length }}</b> driver found</span>
                        
                        <span *ngIf="drivers?.length > 1"><b>{{ drivers?.length }}</b> drivers found</span>
                    
                    </div>

                    <div class="col-sm-3 col-md-2 p-0 pb-3 pl-sm-3 pb-sm-0">
                        <select class="form-control form-control-sm" [(ngModel)]="status" (ngModelChange)="statusChanged()">
                            <option [value]="0">All Drivers</option>
                            <option [value]="1">Drivers under review</option>
                        </select>
                    </div>

                    <div class="input-group col-sm-4 col-md-3 p-0 pb-3 pl-sm-3 pb-sm-0">
                        <input type="text" class="form-control form-control-sm" placeholder="Search Driver Name" [(ngModel)]="search">
                        <div class="input-group-append" *ngIf="search">
                            <button class="btn-group-clear" (click)="search = ''">clear</button>
                        </div>
                    </div>

                    <div class="p-0 pl-sm-3">
                        <button type="button" class="btn btn-primary btn-block" [disabled]="true" (click)="modalDriver()">
                            <i class="ri-add-line"></i> New Driver
                        </button>
                    </div>

                </div>

            </div>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead class="thead-primary">

                        <tr>

                            <th>Driver Name</th>

                            <th>Phone</th>

                            <th>Start Address</th>

                            <th class="text-center">Start Time</th>

                            <th class="text-center">End Time</th>

                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let driver of drivers | filter:'name':search; let i=index" (click)="modalDriver(i)">

                            <td>

                                <span>{{ driver.name }}</span>

                            </td>

                            <td>

                                <span>{{ driver.phone }}</span>

                            </td>

                            <td>

                                <span>{{ driver.start_address }}</span>

                            </td>

                            <td class="text-center">

                                <span>{{ driver.start_time | time }}</span>

                            </td>

                            <td class="text-center">

                                <span *ngIf="driver.end_time">{{ driver.end_time | time }}</span>
                                
                                <span *ngIf="!driver.end_time">-</span>

                            </td>

                            <td class="text-right">

                                <button class="btn btn-link" (click)="$event.stopPropagation(); delete(i)">

                                    <i class="ri-delete-bin-line"></i>

                                </button>

                            </td>

                        </tr>

                        <tr class="text-center" *ngIf="drivers?.length == 0">

                            <td colspan="6">

                                <i class="ri-search-line"></i> No drivers found

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </app-iq-card>

    </div>

</div>