<div class="row">

    <div class="col-sm-12">

        <app-iq-card>

            <div card-header class="iq-header-title">

                <div class="filters row">

                    <div class="col-md-4 mt-1 mb-1">

                        <input type="text" class="form-control" placeholder="Search Driver Name Here" [(ngModel)]="search">

                    </div>

                    <div class="col-md-3 mt-1 mb-1">

                        <button type="button" class="btn btn-primary btn-block" (click)="modalDriver()">
                            
                            <i class="ri-add-line"></i>
                            
                            New Driver
                        
                        </button>

                    </div>

                </div>

            </div>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead class="thead-primary">

                        <tr>

                            <th>Driver Name</th>

                            <th>Phone</th>

                            <th>Start Address</th>

                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let driver of drivers | filter:'name':search; let i=index" (click)="modalDriver(i)">

                            <td>

                                <span>{{ driver.name }}</span>

                            </td>

                            <td>

                                <span>{{ driver.phone }}</span>

                            </td>

                            <td>

                                <span>{{ driver.start_address }}</span>

                            </td>

                            <td class="text-right">

                                <button class="btn btn-link" (click)="$event.stopPropagation(); delete(i)">

                                    <i class="ri-delete-bin-line"></i>

                                </button>

                            </td>

                        </tr>

                        <tr class="text-center" *ngIf="drivers?.length == 0">

                            <td colspan="4">

                                <i class="ri-search-line"></i> No drivers found

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </app-iq-card>

    </div>

</div>