<header id="headerz" class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">

            <a href="https://www.fariaslgx.com"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="https://lirp.cdn-website.com/8e4e8459/dms3rep/multi/opt/logo-02-02-1920w.png">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
                <li><a href="https://www.fariaslgx.com" class="nav-link px-2"> HOME </a></li>
                <li><a href="https://www.fariaslgx.com/about" class="nav-link px-2"> ABOUT US </a></li>
                <li><a href="https://www.fariaslgx.com/#SEGMENTS" class="nav-link px-2"> SEGMENTS </a></li>
                <li><a href="https://www.fariaslgx.com/#CALLUS" class="nav-link px-2"> CALL US </a></li>
                <li><a href="https://www.fariaslgx.com/drivers" class="nav-link px-2"> DRIVERS </a></li>
            </ul>
        </div>
    </div>
</header>




<div id="wimo">


    <div class="container animate__animated animate__fadeIn" *ngIf="stop">
        <div class="row justify-content-center">
            <form class="col-sm-12 col-md-10 col-lg-6" [formGroup]="formGroup">

                <h1>Feedback</h1>

                <div class="text-center mb-2">
                    <img class="stop-image" [src]="stop.image" height="100px">
                </div>

                <p class="d-block m-0"><b>Order Id:</b> {{ stop.order_id }}</p>
                <p class="d-block m-0"><b>Name:</b> {{ stop.name }}</p>
                <p class="d-block m-0"><b>Phone:</b> {{ stop.phone }}</p>
                <p class="d-block m-0"><b>Address:</b> {{ stop.address }}</p>
                <p class="d-block m-0"><b>Delivered at:</b> {{ stop.arrived_at }}</p>

                <div class="row justify-content-center mt-3">
                    <ngb-rating max="5" formControlName="evaluation" [readonly]="stop.feedback" [rate]="stop.feedback?.evaluation">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>

                <div class="row justify-content-center">

                    <div class="col-sm-12 mb-3 pt-4">
                        <textarea class="form-control" placeholder="Tell us about your delivery experience" formControlName="note" [readonly]="stop.feedback"></textarea>
                    </div>

                </div> <!-- .row -->

                <div class="d-flex justify-content-end" *ngIf="!stop.feedback">
                    <button type="submit" class="btn btn-primary" (click)="send()">SEND FEEDBACK</button>
                </div>

                <div class="d-flex justify-content-end animate__animated animate__fadeIn" *ngIf="stop.feedback">
                    <span class="text-primary">Feedback sent successfully <i class="ri-check-line"></i></span>
                </div>

            </form>
        </div>
    </div> <!-- .container -->

</div> <!-- #wimo -->




<div class="phone-info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <div>
                    <strong>QUICK & RELIABLE</strong> We are available <strong>24/7</strong>
                </div>

                <div>
                    by <strong>email or telephone</strong>
                </div>

                <a class="btn btn-lg btn-outline-warning" href="tel:14156047609">CALL US +1(415)604-7609</a>

            </div> <!-- .col-md-8 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .phone-info -->






<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="row">


                    <div
                        class="col-12 col-lg-3 d-flex flex-column justify-content-center justify-content-md-start align-items-center mb-4">

                        <div class="mb-3">
                            <img src="https://lirp.cdn-website.com/8e4e8459/dms3rep/multi/opt/Asset+1-3x-1920w.png">
                        </div>

                        <div class="ltxt mb-3">
                            No matter what,<br>
                            We get it done!
                        </div>

                    </div>


                    <div class="col-6 col-lg-2 mb-4">

                        <h5>Navigation</h5>

                        <div class="list-group list-group-flush">
                            <a class="list-group-item" href="https://www.fariaslgx.com"> HOME </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/about"> ABOUT US </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/services"> SERVICES </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/contact"> CALL US </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/drivers"> DRIVERS </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/privacy-policy"> PRIVACY POLICY
                            </a>
                            <a class="list-group-item" href="https://www.fariaslgx.com/#SEGMENTS"> SEGMENTS </a>
                            <a class="list-group-item" href="https://app.fariaslgx.com/where-is-my-order"> WHERE'S MY
                                ORDER </a>
                        </div>

                    </div>


                    <div class="col-6 col-lg-3 mb-4">

                        <h5>Services</h5>

                        Management<br>
                        Processing<br>
                        Palletizing<br>
                        Deliveries<br>
                        Routing<br>
                        Projects<br>
                        Consultancy<br>
                        GPS tracking<br>
                        SMS to customers<br>
                        MMS to customers<br>
                        Customized service

                    </div>


                    <div class="col-12 col-lg-4 mb-4">

                        <h5>Working Hours</h5>

                        <div class="row">
                            <div class="col-4">Mon-Wed </div>
                            <div class="col-8 or"> 9:00 am - 9:00 pm </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Thu-Sat </div>
                            <div class="col-8 or"> 9:00 am - 9:00 pm </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Sunday </div>
                            <div class="col-8 or"> 9:00 am - 9:00 pm </div>
                        </div>

                    </div>


                </div> <!-- .row -->
            </div> <!-- .col-md-8 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</footer> <!-- .footer -->