<div class="row animate__animated animate__fadeIn" *ngIf="customers">

    <div class="col-sm-12">

        <app-iq-card>

            <div card-header class="iq-header-title">

                <div class="filters row">

                    <div class="col-md-3 mt-1 mb-1">

                        <div class="input-group">

                            <input type="text" class="form-control" placeholder="Search Customer Name" [(ngModel)]="search">

                            <div class="input-group-append" *ngIf="search">

                                <button class="btn-group-clear" (click)="search = ''">clear</button>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 mt-1 mb-1">

                        <button type="button" class="btn btn-primary btn-block" (click)="create(modal)">

                            <i class="ri-add-line"></i>New Customer

                        </button>

                    </div>

                </div>

            </div>

            <div class="table-responsive">

                <table class="table">

                    <thead class="thead-primary">

                        <tr class="text-center">

                            <th>Name</th>

                            <th>Email</th>

                            <th>Status</th>

                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr class="text-center animate__animated animate__fadeIn"
                            *ngFor="let customer of customers | filter:'name':search; let i=index">

                            <td>{{ customer.name }}</td>

                            <td>{{ customer.email }}</td>

                            <td>

                                <div class="custom-control custom-switch ml-2">
                                    
                                    <input type="checkbox" [id]="'status' + i" [checked]="customer.status" class="custom-control-input" (change)="changeStatus($event, i)">
                                    
                                    <label [for]="'status' + i" class="custom-control-label"></label>
                                
                                </div>
                                
                            </td>

                            <td class="text-right">

                                <button class="btn btn-link" (click)="edit(modal, i)">

                                    <i class="ri-pencil-fill"></i>

                                </button>

                                <button class="btn btn-link" (click)="delete(i)">

                                    <i class="ri-delete-bin-line"></i>

                                </button>

                            </td>

                        </tr>

                        <tr class="text-center animate__animated animate__fadeIn" *ngIf="customers?.length == 0 || (customers | filter:'name':search).length == 0">

                            <td colspan="4">

                                <i class="ri-search-line"></i> No customers found

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </app-iq-card>

    </div>

</div>

<ng-template #modal>

    <div class="modal-header">

        <h4 class="modal-title pull-left" *ngIf="customerIndex === undefined">Create New Customer</h4>

        <h4 class="modal-title pull-left" *ngIf="customerIndex >= 0">Edit Customer</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

            <span aria-hidden="true">&times;</span>

        </button>

    </div>

    <div class="modal-body">

        <form [formGroup]="formGroup">

            <div class="form-group row">

                <label for="name" class="col-sm-3 col-form-label">Name<span>*</span></label>

                <div class="col-sm-9">

                    <input type="text" class="form-control" id="name" name="name" placeholder="Customer name"
                        maxlength="200" formControlName="name">

                </div>

            </div>

            <div class="form-group row">

                <label for="name" class="col-sm-3 col-form-label">Email<span>*</span></label>

                <div class="col-sm-9">

                    <input type="text" class="form-control" id="name" name="name" placeholder="Customer email"
                        maxlength="255" formControlName="email">
                        
                </div>

            </div>

            <div class="form-group row" [hidden]="customerIndex >= 0 && !togglePassword">

                <label for="name" class="col-sm-3 col-form-label">Password<span
                        [hidden]="customerIndex >= 0">*</span></label>

                <div class="col-sm-9">

                    <input type="text" class="form-control" id="name" name="name" placeholder="Customer password"
                        maxlength="255" formControlName="password">

                </div>

            </div>

            <div class="form-group row">

                <div class="col-sm-12 text-right pt-3"
                    [ngClass]="{ 'd-flex justify-content-between': customerIndex >= 0 }">

                    <button class="btn" [ngClass]="{ 'btn-outline-secondary': !togglePassword, 'btn-outline-primary': togglePassword }"
                        (click)="togglePassword = !togglePassword" *ngIf="customerIndex >= 0">Change Password</button>

                    <button class="btn btn-primary" [disabled]="formGroup.invalid"
                        (click)="save()">Save</button>

                </div>

            </div>

        </form>

    </div>

</ng-template>