<div class="row">
    <div class="col-sm-12">
        <app-iq-card>

            <div card-header class="iq-header-title">
                <div class="filters row">

                    <div class="col-md-4 mt-1 mb-1">
                        <input type="text" class="form-control" placeholder="Search Project Here"
                            #filter (keyup)="updateFilter($event)" >
                    </div>

                    <div class="col-md-3 mt-1 mb-1">
                        <button type="button" class="btn btn-primary btn-block" (click)="openModal(modal)">
                            <i class="ri-add-line"></i> Add Customer
                        </button>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table id="datatable" class="table table-hover">

                    <thead class="thead-primary">
                        <tr>

                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor=" let customer of customers " (click)="edit( customer, modal )" >

                            <td>{{customer.name}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.created_at|date}}</td>

                        </tr>
                    </tbody>

                </table>
            </div>

        </app-iq-card>
    </div>
</div>



<ng-template #modal>

    <div class="modal-header">

        <h4 class="modal-title pull-left" *ngIf="formNew"  >Add Customer</h4>
        <h4 class="modal-title pull-left" *ngIf="!formNew" >Update Customer</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <form class="modal-body" [formGroup]="formGroup" >

        <div class="form-group row">

            <label for="name" class="col-sm-2 col-form-label" triggers="mouseenter:mouseleave"
                popover="The name of your customer">Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
                <div *ngIf="formGroup.get('name').hasError('required')" >
                    <small>Required</small>
                </div>
            </div>

        </div>

        <div class="form-group row">

            <label for="email" class="col-sm-2 col-form-label" >Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" formControlName="email" id="email"
                    placeholder="Enter a Email">
                <div *ngIf="formGroup.get('email').hasError('required')" >
                    <small>Required</small>
                </div>
                <div *ngIf="!formGroup.get('email').hasError('required') &&
                            formGroup.get('email').hasError('email')">
                    <small>Invalid Email</small>
                </div>
            </div>

        </div>

        <div class="form-group row">

            <label for="password" class="col-sm-2 col-form-label" >Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" formControlName="password" id="password"
                    placeholder="Enter a Password" [required]="formNew" >
                <div *ngIf="formGroup.get('password').hasError('required')" >
                    <small>Required</small>
                </div>
                <div *ngIf="formGroup.get('password').hasError('minlength')">
                    <small>Minlength 6 characters</small>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-12 text-right pt-3">
                <button class="btn btn-primary" [disabled]="formGroup.invalid" (click)="save()">Save</button>
            </div>
        </div>


    </form>

</ng-template>