.code {
    font-weight: 300;
}

.project {
    display: block;
    font-weight: 400;
}

.note {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
}

#chart {
    width: 100%;
    height: 350px;
}
