<div class="modal-header">

    <h4 class="modal-title pull-left">Stop</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">

        <span aria-hidden="true">&times;</span>

    </button>

</div>

<div class="modal-body">

    <form [formGroup]="formGroup">

        <div class="form-group row">

            <label for="order_id" class="col-sm-3 col-form-label mt-1">Order ID<span>*</span></label>

            <div class="col-sm-9">

                <input type="text" class="form-control disabled" id="order_id" placeholder="Order ID" maxlength="20"
                    formControlName="order_id">

            </div>

        </div>

        <div class="form-group row">

            <label for="name" class="col-sm-3 col-form-label mt-1">Name<span>*</span></label>

            <div class="col-sm-9">

                <input type="text" class="form-control" id="name" placeholder="Name" maxlength="200"
                    formControlName="name">

            </div>

        </div>

        <div class="form-group row">

            <label for="phone" class="col-sm-3 col-form-label mt-1">Phone<span>*</span></label>

            <div class="col-sm-9">

                <input type="tel" class="form-control" id="phone" placeholder="e.g. 3148675309" maxlength="40"
                    formControlName="phone" [brmasker]="{ type: 'num' }">

            </div>

        </div>

        <div class="form-group row">

            <label class="col-sm-3 col-form-label mt-1">Address<span>*</span></label>

            <div class="col-sm-9">

                <app-google-autocomplete 
                    [address]="this.stop?.address" 
                    [readonly]="status != 0"
                    (changeAddress)="changeAddress($event)">
                </app-google-autocomplete>

            </div>

        </div>

        <div class="form-group row" *ngIf="project.status > 1">

            <label class="col-sm-3 col-form-label mt-1">Status</label>

            <div class="col-sm-9">

                <select class="form-control" id="status" placeholder="Select" [(ngModel)]="status"
                    [ngModelOptions]="{ standalone: true }">

                    <option [value]="0" [hidden]="stop?.status != 0">Warning</option>

                    <option [value]="1" [hidden]="stop?.status != 0 && stop?.status != 1">Started</option>

                    <option [value]="2" [hidden]="stop?.status == 0">Arrived</option>

                    <option [value]="3" [hidden]="stop?.status == 0">Skipped</option>

                </select>

            </div>

        </div>

        <div [hidden]="stop?.status == 1 || status != 1">

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Started at</label>

                <div class="col-sm-9">

                    <input type="datetime-local" class="form-control" [(ngModel)]="datetime" [ngModelOptions]="{ standalone: true }">

                </div>

            </div>

        </div>

        <div [hidden]="stop?.status == 2 || status != 2">

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Arrived at</label>

                <div class="col-sm-9">

                    <input type="datetime-local" class="form-control" [(ngModel)]="datetime" [ngModelOptions]="{ standalone: true }">

                </div>

            </div>

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Photo</label>

                <div class="col-sm-9">

                    <input type="file" class="form-control input-file" accept="image/*" (change)="chooseFile($event.target.files)">

                </div>

            </div>

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Bags</label>

                <div class="col-sm-9">

                    <input type="number" min="1" class="form-control" [(ngModel)]="bags" [ngModelOptions]="{ standalone: true }">

                </div>

            </div>

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Note</label>

                <div class="col-sm-9">

                    <textarea class="form-control" [(ngModel)]="note" [ngModelOptions]="{ standalone: true }"></textarea>

                </div>

            </div>

        </div>

        <div [hidden]="stop?.status == 3 || status != 3">

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Skipped at</label>

                <div class="col-sm-9">

                    <input type="datetime-local" class="form-control" [(ngModel)]="datetime" [ngModelOptions]="{ standalone: true }">

                </div>

            </div>

            <div class="form-group row animate__animated animate__fadeIn">

                <label class="col-sm-3 text-right col-form-label mt-1">Note</label>

                <div class="col-sm-9">

                    <textarea class="form-control" [(ngModel)]="note" [ngModelOptions]="{ standalone: true }"></textarea>

                </div>

            </div>

        </div>

        <div class="form-group row">

            <div class="col-sm-12 text-right pt-3">

                <button class="btn btn-primary" [disabled]="formGroup.invalid || (status && !datetime)" (click)="save()">Save</button>

            </div>

        </div>

    </form>

</div>