tab {
    background: #fff;
    box-shadow: 0 0 12px 2px rgb(55 73 72 / 30%);
    height: auto;
}

.tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #374948;

    .title {
        font-size: 1.125rem;
        font-weight: 500;
        color: #ffffff;
    }
}

.tab-content {
    .table-scroll {
        max-height: 200px;
    }

    table {
        margin: 0;

        tr {
            height: 44px;
        }

        tr.unscheduled {
            background: var(--warning);
            border: none;

            .badge-light {
                background: #ffffff !important;
            }
        }

        th {
            background: #374948;
            color: #fff;
            padding: 0 15px;
            border: 0;
            font-weight: 500;
            font-size: 0.8rem;
        }

        td {
            padding: 5px 15px !important;
            vertical-align: middle;

            a i {
                font-size: 18px;
            }

            ul {
                display: flex;
                margin: 0;
                padding: 0;

                &:first-child {
                    margin-left: 5px;
                }

                &:last-child li:last-child {
                    margin-right: 0;
                }

                li {
                    margin-right: 10px;

                    .card {
                        display: flex;
                        align-items: center;
                        background: #fff;
                        color: #222;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                        box-shadow: 0 0 12px 2px rgb(55 73 72 / 30%);
                        border-radius: 2px;
                        min-width: 30px;
                        transition: 0.2s;
                        cursor: pointer;
                    }
                }

                &.unsortable {
                    li {
                        .card {
                            &.dispatched {
                                box-shadow: 0px 0px 0px 1px var(--primary);
                                color: var(--primary);
                            }

                            &.completed {
                                box-shadow: 0px 0px 0px 1px var(--success);
                                color: var(--success);
                            }

                            &.skipped {
                                box-shadow: 0px 0px 0px 1px var(--danger);
                                color: var(--danger);
                            }
                        }
                    }
                }

                &.sortable {
                    width: 100%;

                    li {
                        .card:active {
                            cursor: grabbing;
                            cursor: -moz-grabbing;
                            cursor: -webkit-grabbing;
                        }
                    }
                }
            }

            .badge {
                border-radius: 12px;
                font-weight: 500;
            }

            .truck {
                text-align: center;
                font-weight: 600;
                box-shadow: 0 0 12px 2px rgb(55 73 72 / 30%);
                border-radius: 5px;
                padding: 0 8px;
                float: left;
                transition: 0.2s;

                i {
                    color: #fff;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(0.9);
                }
            }
        }
    }
}
