<tabset type="pills">

    <tab customClass="timeline" heading="TIMELINE">

        <div class="tab-header">

            <span class="title">Plan</span>

            <div class="buttons">

                <button class="btn btn-light btn-sm dropdown-toggle mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-download-line"></i> Download
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="downloadSolution()">Solution Download</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="downloadSummary()">Summary Download</a>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="downloadRoute()">Route Details Download</a>
                </div>

                <button class="btn btn-dark btn-sm" *ngIf="!collapse" (click)="collapse = true">
                    <i class="ri-arrow-down-s-line"></i> Collapse
                </button>

                <button class="btn btn-dark btn-sm" *ngIf="collapse" (click)="collapse = false">
                    <i class="ri-arrow-up-s-line"></i> Expand
                </button>

            </div>

        </div>

        <div class="tab-content" *ngIf="!collapse">
            <div class="table-responsive">
                <table class="table" width="100%">

                    <thead>
                        <th class="table-col-a" >Driver</th>
                        <th class="table-col-b" ></th>
                        <th>Stops</th>
                    </thead>

                    <tbody>

                        <tr class="unscheduled" *ngIf="unscheduled.length > 0">

                            <td colspan="2">
                                <span class="badge badge-light">Unscheduled</span>
                            </td>

                            <td>
                                <div style="display: flex;">
                                    <ul [sortablejs]="unscheduled_order" [sortablejsOptions]="{ group: { name: 'stops', put: false }, sort: false }">
                                        <li *ngFor="let stop of unscheduled; let i=index;">
                                            <button class="card" (click)="stopInfoById(stop.id)">{{ i+1 }}</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>

                        <tr *ngFor="let driver of project?.drivers; let i=index;">

                            <td>{{ driver.name }}</td>

                            <td>

                                <a href="javascript:void(0);" tooltip="Swap route" [adaptivePosition]="false" (click)="modalSwapRoute(driver)">
                                    <i class="ri-swap-line"></i>
                                </a>

                                <a class="ml-3" href="javascript:void(0);" tooltip="Reverse route" [adaptivePosition]="false" (click)="reverseRoute(driver)">
                                    <i class="ri-exchange-line"></i>
                                </a>

                            </td>

                            <td>
                                <div style="display: flex;">

                                    <ul>
                                        <li [tooltip]="driver.time" [adaptivePosition]="false">
                                            <button class="card" [style.background]="colors[i]" [style.color]="'white'" (click)="driverInfoById(driver.id)">
                                                <i class="ri-truck-line"></i>
                                            </button>
                                        </li>
                                    </ul>

                                    <ul class="unsortable">
                                        <ng-container *ngFor="let route of driver.pivot.routes; let i=index;">

                                            <li [tooltip]="route.time" [adaptivePosition]="false" *ngIf="route.status == 1">
                                                <button class="card dispatched" (click)="stopInfoById(route.end_id)">{{ i+1 }}</button>
                                            </li>

                                            <li [tooltip]="route.time" [adaptivePosition]="false" *ngIf="route.status == 2">
                                                <button class="completed card" (click)="stopInfoById(route.end_id)">{{ i+1 }}</button>
                                            </li>

                                            <li [tooltip]="route.time" [adaptivePosition]="false" *ngIf="route.status == 3">
                                                <button class="card skipped" (click)="stopInfoById(route.end_id)">{{ i+1 }}</button>
                                            </li>

                                        </ng-container>
                                    </ul>

                                    <ul class="sortable" [sortablejs]="driver.pivot.stops_order" [sortablejsOptions]="options" [id]="i">
                                        <ng-container *ngFor="let route of driver.pivot.routes; let i=index;">
                                            <li [tooltip]="route.time" [isDisabled]="!tooltip" [adaptivePosition]="false" *ngIf="route.status == 0">
                                                <button class="card" (click)="stopInfoById(route.end_id)">{{ i+1 }}</button>
                                            </li>
                                        </ng-container>
                                    </ul>

                                </div>
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

    </tab>

    <tab customClass="timeline" heading="DISPATCH">

        <div class="tab-header">

            <span class="title">Dispatch Manager</span>

            <div class="buttons">

                <button class="btn btn-primary btn-sm mr-1" *ngIf="project.status < 2" (click)="dispatch()">
                    <i class="ri-send-plane-line"></i> Publish Changes
                </button>

                <button class="btn btn-dark btn-sm mr-1" (click)="sendSms2All()" >
                    <i class="fa fa-paper-plane"></i> SMS to All
                </button>

                <button class="btn btn-dark btn-sm" *ngIf="!collapse" (click)="collapse = true">
                    <i class="ri-arrow-down-s-line"></i> Collapse
                </button>

                <button class="btn btn-dark btn-sm" *ngIf="collapse" (click)="collapse = false">
                    <i class="ri-arrow-up-s-line"></i> Expand
                </button>

            </div>

        </div>

        <div class="tab-content" *ngIf="!collapse">
            <div class="table-responsive">
                <table class="table" width="100%">

                    <thead>

                        <th>Driver</th>
                        <th>Stops</th>
                        <th>Status</th>
                        <th>Phone</th>
                        <th *ngIf="project.status > 1"></th>

                    </thead>

                    <tbody>
                        <tr *ngFor="let driver of project?.drivers; let i=index;">

                            <td width="200px">{{ driver.name }}</td>

                            <td>{{ driver.pivot.stops_order?.length }}</td>

                            <td>
                                <span class="badge badge-primary" *ngIf="project.status == 1">READY FOR DISPATCH</span>
                                <span class="badge badge-dark"    *ngIf="project.status == 2">DISPATCHED</span>
                            </td>

                            <td>{{ driver.phone }}</td>

                            <td class="text-right" *ngIf="project.status > 1">

                                <button class="btn btn-light btn-sm" ngxClipboard [cbContent]="driverLink(driver.id)" (click)="copyLinkSuccess()">
                                    <i class="ri-file-copy-line"></i> Copy link
                                </button>

                                <button class="btn btn-light btn-sm ml-1" (click)="sendSms(driver.id)">
                                    <i class="fa fa-paper-plane"></i> SMS
                                </button>

                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </tab>

</tabset>
