/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "assets/scss/alert";
@import "~viewerjs/dist/viewer.css";

/* You can add global styles to this file, and also import other style files */
.owl-carousel .owl-dot {
  display: inline-block;
}
.iq-email-list .iq-email-ui li a {
  padding: 0.5rem 1rem !important;
}

.theme-green .bs-datepicker-head {
  background-color: var(--primary) !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: var(--primary) !important;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: var(--primary) !important;
}

.bs-datepicker-container {
  padding: 0 !important;
}

.btn-group-clear {
  border: 0px solid #d7dbda;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: #e9edf4;
  font-weight: 500;
  color: var(--primary);
}

.btn-primary:active {
  border-color: #fc9d20 !important;
}

.pagination {
  justify-content: center;
}

table {
  &.table-hover {
    cursor: pointer;
  }

  thead {
    &.thead-primary {
      background: var(--primary);
      color: #fff;
    }
  }
}

li.nav-item.timeline {
  .nav-link {
    background-color: #e9edf4;
    color: #374948;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;

    &.active {
      background-color: #374948;
      color: #ffffff;
    }
  }
}

input {
  font-size: 0.9rem !important;
  line-height: 1.125 !important;

  &:read-only {
    background: #dadee3 !important;
    color: #000 !important;
  }
}

.col-form-label {
  display: flex;
  align-items: center;

  small {
    display: contents;
  }

  span {
    margin-left: 5px;
    color: var(--primary);
  }
}

table tr th {
  font-size: 0.75rem;
  font-weight: 500;
}

table tr td {
  font-size: 0.8rem;
  vertical-align: middle !important;
}

.no-link {
  text-decoration: none !important;
}

.filters {
  padding: 5px 0;

  input {
    height: 35px;
    border-radius: 0.25rem !important;
  }
}

@media (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: flex-end;

    div {
      &:not(:last-child) {
        padding-right: 0 !important;
      }
    }
  }
}
