.iq-header-title {
    flex: auto;
}

.filters {
    padding: 5px 0;

    input {
        height: 35px;
        border-radius: 0.25rem !important;
    }
}

.modal-header {
    border-bottom: 0;
}

table tr th {
    font-size: 12px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .filters {
        display: flex;
        justify-content: flex-end;

        div {
            &:not(:last-child) {
                padding-right: 0 !important;
            }
        }
    }
}
